<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head >
    <title>VersionEye</title>
  </head>

  <body style="font-size: 14px;
              font-family: 'Droid Sans','Droid Serif', 'Helvetica';
              height: 100%;
              margin: 0;
              background-color: #fafafa;
              display: block;
              background-repeat: no-repeat;
              font-size: 14px;">

    <div style="margin: 0 auto;">

      <div style="padding: 15px;
                  margin-top: 10px;
                  background-color: white;
                  border: 1px solid #eee;
                  ">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
